<h3>User Dashboard (show)</h3>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<%= link_to "New Transaction", new_path, :class => "button medium"%>

<h3>Pending Transactions</h3>
  <% if @user %>
    <% @user.transactions.each do |transaction| %>
      <% if not transaction.reimbursed %>
          Club: <%= transaction.club_name %> | Date: <%= transaction.date %> |
          Amount: <%= transaction.value %> | Note: <%= transaction.notes %> | 
          <%= button_to "Delete", delete_path(id: transaction), :class => "button medium", :method => :patch %><br />
        <% end %>   
      <% end %>
  <% end %>
<%= link_to "All Transactions", all_path, :class => "button medium"%>
