<h3 class="heading">All Transactions</h3>
	<% if user_signed_in? %>
		<% current_user.transactions.each do |transaction| %>
			Club: <%= transaction.club_name %> | Date: <%= transaction.date %> |
            Amount: <%= transaction.value %> | Note: <%= transaction.notes %> | 
			Reimbursed: <%= transaction.reimbursed %></br>
	  	<% end %>
	  </br>
	  	<%= link_to "Back", users_url, :class => "button medium"%>

	<% elsif admin_signed_in? %>    
		<% @matching = Transaction.where(:club_name => current_admin.club_name)%>
 		<% @matching.each do |transaction| %>                                                                       
			Club: <%= transaction.club_name %> | Member: <%= transaction.user.name %> |
        	Date: <%= transaction.date %> |
        	Amount: <%= transaction.value %> | Note: <%= transaction.notes %> |
			Reimbursed: <%= transaction.reimbursed %></br>
	  	<% end %>
	  </br>
	  	<%= link_to "Back", admins_url, :class => "button medium"%>
	<% end %>

